.dropzone {
  position: relative;
  outline: none;
}

.drop-indicator {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 180px;
  color: #5a5657;
  background: #f5f0f1;
  border-radius: 16px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
  z-index: 1;
  font-size: 28px;
}

.drop-indicator svg {
  margin-right: 20px;
}
