.Terminal {
  position: relative;
  font-family: Consolas,monaco,monospace; 
  line-height: 14px;
  font-size: 12px;
  width: calc(100% - 30px);
  height: 200px;
  background: black;
  color: white;
  border-radius: 12px;
  margin: 20px 15px 10px 15px;
  padding: 6px 20px;
  box-sizing: border-box;
}

.Terminal .close {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  right: 10px;
  top: 10px;
  background: rgba(255, 255, 255, 0.527);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  vertical-align: center;
  cursor: pointer;
  outline: none;
}

.Terminal .close:hover {
  background: rgba(255, 255, 255, 0.733);
}