body {
  background: #f5f0f1;
}

.toasty {
  padding: 10px 15px 10px 20px;
  border-radius: 10px;
}

.toasty .Toastify__progress-bar {
  background: #f5f0f1;
}

.background-bar {
  display: block;
  height: 35vh;
  width: 100vw;
  margin-bottom: -30vh;
  background: rgb(213, 92, 92);
}

.editor {
  z-index: 1;
  margin: 30px auto 10px auto;
  width: 87%;
  height: 700px;
  padding: 10px 20px 20px 20px;
  border-radius: 7px;
  box-shadow: 0 2px 24px rgba(30, 30, 30, 0.4);
  background: #1e1e1e;
  box-sizing: border-box;
}

.editor.expanded {
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.editor .editor-inner-wrap {
  width: 100%;
  height: calc(100% - 56px);
}

.editor header {
  height: 56px;
}

.main-head {
  display: flex;
  align-items: center;
}

.editor h1 {
  cursor: default;
  margin: 0 0 14px 0;
  color: rgb(213, 92, 92);
  margin-right: 30px;
}

.editor h1 i {
  margin: 0 0 14px 0;
  color: rgba(213, 92, 92, 0.445);
}

.filename {
  transition: ease 0.2s;
  background: transparent;
  border: 2px solid transparent;
  border-bottom: 2px solid rgba(213, 92, 92, 0.2);
  color: #a09a9b;
  font-size: 16px;
  outline: none;
  margin: -5px 0 0 0;
}

.filename:focus {
  border-bottom: 2px solid rgb(213, 92, 92);
}

header {
  display: flex;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
}

.main-btn {
  transition: ease-in-out 0.2s;
  cursor: pointer;
  border: none;
  background: #629162;
  height: 35px;
  width: 120px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  outline: none;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.452);
  margin: 0 10px 0 25px;
}

.main-btn:hover {
  background: #89bb89;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.596);
}

.main-btn:active {
  background: #b2d4b2;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.164);
}

.icon-btn {
  background: transparent;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
  outline: none;
  cursor: pointer;
  transition: ease 0.18s;
}

.icon-btn:hover {
  color: rgb(213, 92, 92);
}

.icon-btn:active {
  color: rgb(241, 136, 136);
}

.icon-btn svg {
  width: 18px;
  height: 18px;
}

footer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer a {
  font-size: 16px;
  margin: 0 8px;
  color: rgb(213, 92, 92);
  text-decoration: none;
}

footer span {
  color: gray;
  cursor: default;
}